{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{%static 'css/calender/iframe.css' %}">

<body>
    
    <table id="info_tbl">
        {% for info in con_data %}
            <tr>
                  <td class= "con_name" onclick="con_info_detail(this)">{{info.con_name}}</td>
                  <td class="color" ><input type="hidden" class="colors" value="{{info.color}}"></td>
                  <td　class="ID" ><input type="hidden" class="IDs" value="{{info.id}}"></td>
             </tr>
                {% endfor %}
    </table>
    <script src="{%static 'js/calender/iframe.js' %}" type="text/javascript"></script>
    
   